body {
	background-color: white;
	font-size: 16px;
	color: black;
	font-family: serif;
}

/** NAVBAR **/
#header-nav {
	background-color: #65a4b6;
	border-radius: 0;
	border: 0;
	color: white;
}
.navbar-brand {
	padding-top: 15px;
}

.navbar-brand h1 {
	font-family: 'Sarala', sans-serif;
	color: #a3cfdf;
	font-size: 1.5em;
	font-weight: bold;
	margin-top: 0;
	margin-bottom: 0;
	line-height: .75;
}
.navbar-brand a:hover, .navbar-brand a:focus {
	text-decoration: none;
}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
	border: 1px solid #a3cfdf;

}

#nav-list {
	margin-top: 0px;
	margin-bottom: 0px;
	}

#nav-list a {
	color: #65a4b6;
	text-align: center;
	vertical-align: middle;
	font-size: 1.2em;
	font-family: 'Sarala', sans-serif;
	padding-top: 25px;
}

#nav-list {
	background-color: #a3cfdf;
}

hr {
	color: #65a4b6;
}

/** MAIN CONTENT**/
h2 {
	text-align: center;
	font-family: 'Sarala', sans-serif;
}

h3 {
	text-align: center;
	font-family: 'Sarala', sans-serif;
}
p {
	width: auto;
	height: auto;
	padding: 5px;
}

.food {
	width: auto;
	border: 1px solid darkgrey;
	margin-top: 10px;
	margin-right: 5px;
	margin-bottom: 10px;
	margin-left: 5px;
	background-color: #a3cfdf;
}

